<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Coupons</title>
    <link src="/styles/bootstrap.css" rel="stylesheet">
    <link src="/styles/style.css" rel="stylesheet">

</head>

<body>
  <header class="image-bg-fluid-height"><h1>COUPONS FOR YOU</h1></header>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">

        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <footer></footer>

</body>

</html>
